/* EVERYTHING */
* {
    margin: 0px;
    padding: 0px;
    font-family: "Gill Sans MT", "Trebuchet MS", sans-serif;
}

/* HEADER */
header {
    background-color: orange;
    text-align: center;
    padding: 20px;
}

header img {
    width: 120px;
    max-width: 80%;
    margin: auto;
    display: block;
}

h1 {
    font-size: 2rem;
    margin-top: 10px;
}

/* MAIN */
main {
    width: 90%;
    max-width: 700px;
    margin: 30px auto;
}

h2, 
legend {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 4%;
    margin-bottom: 2%;
}

form {
    text-align: justify;
    margin-left: 22%;
}

input[type="text"],
input[type="number"],
textarea,
select,
input[type="submit"] {
    width: 75%;
    max-width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

input[type="text"], 
input[type="number"] {
    height: 20px;
}

.radioinput {
    margin-left: 4px;
}

/* FOOTER */
footer {
    background-image: url(images/bg.png);
    text-align: center;
}

.footerelement {
    background-color: orange;
}

footer p {
    margin-bottom: 1%;
}

a {
    color: black;
    padding: 4px;
}

a:hover {
    color: ivory;
    font-size: large;
}

/* VIEWPORT */
@media (max-width: 768px) {
    h1 {
        font-size: 1.4rem;
    }
    main {
        width: 95%;
    }
}